body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1235px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:198px;
  width:100px;
  height:60px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:302px;
  width:100px;
  height:60px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:826px;
  width:100px;
  height:60px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:1255px;
  width:100px;
  height:60px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:258px;
  width:0px;
  height:0px;
}
#u70_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u70_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u70_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:42px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:840px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:362px;
  width:0px;
  height:0px;
}
#u72_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:468px;
}
#u72_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u72_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:451px;
  width:18px;
  height:19px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:886px;
  width:0px;
  height:0px;
}
#u73_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:373px;
}
#u73_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u73_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:356px;
  width:18px;
  height:19px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:176px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:133px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:409px;
  width:84px;
  height:40px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:466px;
  width:84px;
  height:40px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:522px;
  width:84px;
  height:40px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:580px;
  width:84px;
  height:40px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:636px;
  width:84px;
  height:40px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:692px;
  width:84px;
  height:40px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:302px;
  width:100px;
  height:60px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:332px;
  width:0px;
  height:0px;
}
#u83_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u83_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:19px;
  height:18px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:-31px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:988px;
  width:84px;
  height:40px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:1040px;
  width:84px;
  height:40px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:1093px;
  width:84px;
  height:40px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:1146px;
  width:84px;
  height:40px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:1199px;
  width:84px;
  height:40px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:942px;
  width:84px;
  height:40px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:41px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:897px;
  width:84px;
  height:40px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:401px;
  width:92px;
  height:25px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:426px;
  width:92px;
  height:25px;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:517px;
  width:92px;
  height:25px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:542px;
  width:92px;
  height:25px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:574px;
  width:92px;
  height:25px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:599px;
  width:92px;
  height:25px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:631px;
  width:92px;
  height:25px;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:656px;
  width:92px;
  height:25px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:62px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:280px;
  width:96px;
  height:61px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:92px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:983px;
  width:92px;
  height:25px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:1008px;
  width:92px;
  height:25px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:1033px;
  width:92px;
  height:25px;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:26px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:1058px;
  width:92px;
  height:25px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:88px;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:62px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:365px;
  width:96px;
  height:61px;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:92px;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:62px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:280px;
  width:96px;
  height:61px;
  color:#FFFFFF;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:92px;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:62px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:365px;
  width:96px;
  height:61px;
  color:#FFFFFF;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:92px;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:62px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:658px;
  top:451px;
  width:96px;
  height:61px;
  color:#FFFFFF;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:92px;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:29px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:1408px;
  width:169px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:396px;
  width:0px;
  height:0px;
}
#u110_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u110_seg1 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-9px;
  width:19px;
  height:18px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:396px;
  width:0px;
  height:0px;
}
#u111_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u111_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-89px;
  width:8px;
  height:93px;
}
#u111_seg2 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-89px;
  width:22px;
  height:8px;
}
#u111_seg3 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-94px;
  width:19px;
  height:18px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:396px;
  width:0px;
  height:0px;
}
#u112_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:56px;
  height:8px;
}
#u112_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-4px;
  width:8px;
  height:94px;
}
#u112_seg2 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:82px;
  width:22px;
  height:8px;
}
#u112_seg3 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:77px;
  width:19px;
  height:18px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:62px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:1503px;
  width:96px;
  height:61px;
  color:#FFFFFF;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:92px;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:62px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1503px;
  width:96px;
  height:61px;
  color:#FFFFFF;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:92px;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:62px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:1503px;
  width:96px;
  height:61px;
  color:#FFFFFF;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:92px;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1572px;
  width:100px;
  height:60px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1488px;
  width:100px;
  height:60px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:1548px;
  width:0px;
  height:0px;
}
#u118_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u118_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u118_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:11px;
  width:18px;
  height:19px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:1572px;
  width:100px;
  height:60px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:1488px;
  width:100px;
  height:60px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:1655px;
  width:86px;
  height:27px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:1693px;
  width:86px;
  height:27px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:1730px;
  width:86px;
  height:27px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:1769px;
  width:86px;
  height:27px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:1806px;
  width:86px;
  height:27px;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:1843px;
  width:86px;
  height:27px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:1650px;
  width:94px;
  height:17px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:1667px;
  width:94px;
  height:17px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:1734px;
  width:94px;
  height:17px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:1772px;
  width:94px;
  height:17px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:1810px;
  width:94px;
  height:17px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:1548px;
  width:0px;
  height:0px;
}
#u133_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u133_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u133_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:11px;
  width:18px;
  height:19px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:1632px;
  width:0px;
  height:0px;
}
#u134_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:287px;
}
#u134_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u134_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:270px;
  width:18px;
  height:19px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:134px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:1632px;
  width:0px;
  height:0px;
}
#u135_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u135_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:33px;
  width:19px;
  height:8px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:1632px;
  width:0px;
  height:0px;
}
#u136_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:79px;
}
#u136_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:71px;
  width:19px;
  height:8px;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:1632px;
  width:0px;
  height:0px;
}
#u137_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:116px;
}
#u137_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:108px;
  width:19px;
  height:8px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:1632px;
  width:0px;
  height:0px;
}
#u138_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:155px;
}
#u138_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:147px;
  width:19px;
  height:8px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:75px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:1632px;
  width:0px;
  height:0px;
}
#u139_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:192px;
}
#u139_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:184px;
  width:19px;
  height:8px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:94px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:1632px;
  width:0px;
  height:0px;
}
#u140_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:229px;
}
#u140_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:221px;
  width:19px;
  height:8px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:112px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1654px;
  width:86px;
  height:27px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1692px;
  width:86px;
  height:27px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1729px;
  width:86px;
  height:27px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1768px;
  width:86px;
  height:27px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1805px;
  width:86px;
  height:27px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:1842px;
  width:86px;
  height:27px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:1649px;
  width:94px;
  height:17px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:1666px;
  width:94px;
  height:17px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:1743px;
  width:94px;
  height:17px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:1765px;
  width:94px;
  height:17px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:1805px;
  width:94px;
  height:17px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:1631px;
  width:0px;
  height:0px;
}
#u153_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u153_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:33px;
  width:19px;
  height:8px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:1631px;
  width:0px;
  height:0px;
}
#u154_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:79px;
}
#u154_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:71px;
  width:19px;
  height:8px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:1631px;
  width:0px;
  height:0px;
}
#u155_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:116px;
}
#u155_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:108px;
  width:19px;
  height:8px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:1631px;
  width:0px;
  height:0px;
}
#u156_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:155px;
}
#u156_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:147px;
  width:19px;
  height:8px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:75px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:1631px;
  width:0px;
  height:0px;
}
#u157_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:192px;
}
#u157_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:184px;
  width:19px;
  height:8px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:94px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:1631px;
  width:0px;
  height:0px;
}
#u158_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:229px;
}
#u158_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:221px;
  width:19px;
  height:8px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:112px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:1724px;
  width:94px;
  height:17px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:1784px;
  width:94px;
  height:15px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:1823px;
  width:94px;
  height:17px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:1572px;
  width:100px;
  height:60px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:1915px;
  width:100px;
  height:60px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:979px;
  top:1488px;
  width:100px;
  height:60px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:1548px;
  width:0px;
  height:0px;
}
#u165_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u165_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u165_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:11px;
  width:18px;
  height:19px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:1632px;
  width:0px;
  height:0px;
}
#u166_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:287px;
}
#u166_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u166_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:270px;
  width:18px;
  height:19px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:134px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:1654px;
  width:86px;
  height:27px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:1692px;
  width:86px;
  height:27px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:1729px;
  width:86px;
  height:27px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:1768px;
  width:86px;
  height:27px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:1805px;
  width:86px;
  height:27px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:28px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:1842px;
  width:86px;
  height:27px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:82px;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:1649px;
  width:94px;
  height:17px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:1666px;
  width:94px;
  height:17px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:1743px;
  width:94px;
  height:17px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:1765px;
  width:94px;
  height:17px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:1805px;
  width:94px;
  height:17px;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:1631px;
  width:0px;
  height:0px;
}
#u179_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u179_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:33px;
  width:19px;
  height:8px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:1631px;
  width:0px;
  height:0px;
}
#u180_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:79px;
}
#u180_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:71px;
  width:19px;
  height:8px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:1631px;
  width:0px;
  height:0px;
}
#u181_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:116px;
}
#u181_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:108px;
  width:19px;
  height:8px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:1631px;
  width:0px;
  height:0px;
}
#u182_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:155px;
}
#u182_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:147px;
  width:19px;
  height:8px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:75px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:1631px;
  width:0px;
  height:0px;
}
#u183_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:192px;
}
#u183_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:184px;
  width:19px;
  height:8px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:94px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:1631px;
  width:0px;
  height:0px;
}
#u184_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:229px;
}
#u184_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:221px;
  width:19px;
  height:8px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:112px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:1724px;
  width:94px;
  height:17px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:1784px;
  width:94px;
  height:15px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:18px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:1141px;
  top:1823px;
  width:94px;
  height:17px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:2066px;
  width:103px;
  height:28px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:2101px;
  width:103px;
  height:28px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:2129px;
  width:103px;
  height:28px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:2035px;
  width:103px;
  height:28px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:29px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:1045px;
  top:2004px;
  width:103px;
  height:28px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:99px;
  word-wrap:break-word;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:1975px;
  width:0px;
  height:0px;
}
#u194_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:220px;
}
#u194_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u194_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:203px;
  width:18px;
  height:19px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:100px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
